{% extends 'base.html.twig' %}

{% block title %}Camille Puverel - {{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page') }}
{% endblock %}

{% block header %}
    <a id="nav-tree" class="" href="{{ path('home') }}">
        {{ include('home/nav-tree.html') }}
    </a>
    <h1>{{ title }}</h1>
    {% set currentPath = app.request.pathInfo %}
    <a href="#" id="menu-toggle" class="menuToggle d-md-none">
        <div class="toggleSymbol"></div>
        <div class="toggleSymbol"></div>
        <div class="toggleSymbol"></div>
    </a>
    <nav class="mainMenu" id="responsive-menu">
        <ul>
        {% for menuItem in menu.menuItems %}
            <li class="menuItem">
                <a
                    class="navLink{% if currentPath == path(menuItem.path) %} current{% endif %}"
                    href="{% if currentPath != path(menuItem.path) %}{{ path(menuItem.path) }}{% else %}#{% endif %}"
                    >{{ menuItem.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page') }}
{% endblock %}
