{% extends 'base.html.twig' %}

{% block title %}Camille Puverel - {{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page') }}
{% endblock %}

{% block header %}
    <a id="nav-tree" class="" href="{{ path('home') }}">
        {{ include('home/nav-tree.html') }}
    </a>
    <nav class="responsiveMenu">
        {% set currentPath = app.request.pathInfo %}
        <ul>
            <li>
                <a
                    class="navLink{% if currentPath == path("home") %} current{% endif %}"
                    href="{{ path("home") }}">Home</a>
            </li>
            <li>
                <a
                    class="navLink{% if currentPath == path("cv") %} current{% endif %}"
                    href="{{ path("cv") }}">CV</a>
            </li>
            <li>
                <a
                    class="navLink{% if currentPath == path("sensibilisation") %} current{% endif %}"
                    href="{{ path("sensibilisation") }}">Sensibilisation</a>
            </li>
            <li>
                <a
                    class="navLink{% if currentPath == path("research") %} current{% endif %}"
                    href="{{ path("research") }}">Research</a>
            </li>
        </ul>
    </nav>
    <h1>{{ title }}</h1>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page') }}
{% endblock %}
