{% extends 'page.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizz') }}
{% endblock %}

{% block body %}
    <main class="container">
        <ul class="buttonList d-none">
            <li>
                <a
                    href="/quizz/feuillus/5"
                    class="{% if quizz.nSpecies == 5 %}current{% endif %} button"
                    >5 Espèces</a>
            </li>
            <li>
                <a
                    href="/quizz/feuillus/10"
                    class="{% if quizz.nSpecies == 10 %}current{% endif %} button"
                    >10 Espèces</a>
            </li>
            <li>
                <a
                    href="/quizz/feuillus/15"
                    class="{% if quizz.nSpecies == 15 %}current{% endif %} button"
                    >15 Espèces</a>
            </li>
            <li>
                <a href="#" class="button">Fiche récap'</a>
            </li>
            <li>
                <a href="#" class="button">Les érables</a>
            </li>
        </ul>
        <div id="quizz" data-n-species="{{ quizz.nSpecies }}">
            <div class="row">
                <div class="col-12">
                    <h2>Feuille {{ quizz.currentTurn }} / {{ quizz.nTurns }}</h2>
                </div>
                <div class="col-12">
                    <img
                        id="quizz-picture"
                        src="{{ asset(quizz.currentSpecies.filePath) }}"
                        alt="Image de la feuille">
                </div>
                <div class="col-12">
                    <form action="#">
                        <div id="quizz-choices">
                            <div class="row">
                                {% for species in quizz.choices %}
                                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                                        <button name="choice" type="submit" value="{{ species.id }}" class="button">
                                            {{ species.commonName | capitalize }}
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page') }}
    {{ encore_entry_script_tags('quizz') }}
{% endblock %}
